scripts/output
src/redTime
examples/1_redTime/results.dat
examples/2_scripts/output
examples/2_scripts/HighLExtrapTemplate_lenspotentialCls.dat
.venv
.cache
*.o
*.mod
camb_mod/camb
camb_mod_full
build
.vscode
*.lock