.vscode
*.lock
.venv
.cache
*.o
*.mod
__pycache__

scripts/output
src/redTime
src/convertPk
examples/1_redTime/results.dat
examples/2_scripts/output
examples/2_scripts/HighLExtrapTemplate_lenspotentialCls.dat
tests/emulator_comparison/output
tests/emulator_comparison/*.pdf

camb_mod/camb
camb_mod_full
build
